---
layout: default
---

<div class="row" style="text-align: center">
  <h1> Games </h1>
  {% for game in site.games %}
  <div class="col-xs-4">
    <div class="thumbnail_block">
      <a href="{{game.url}}">
	{% if game.thumbnail == null %}
	<img class="category-banner img-responsive" src="http://placehold.it/1080x1920">
	{% else %}
        <img class="category-banner img-responsive" src="{{game.thumbnail}}">
	{% endif %}
	<span class="thumbnail_description">
	  <h4>{{game.title}}</h4>
	  <p>{{game.pitch}}</p>
	</span>
      </a>
    </div>
  </div>
  {% endfor %}
</div>
