---
layout: default
thumbnail: assets/images/me.jpg
---
<!-- "thumbnail" above is for use with Open Graph Protocol, see default.html <head> -->

<div>
  <span style="text-align: center;">
    <h1>Games</h1>
    <h4>Released or In Development</h4>
  </span>
  <div class="row" style="text-align: center;">
    {% assign games = site.games | sort: 'grid-rank' | reverse %}
      {% for game in games %}
        {% if game.grid-rank == -1 %}
          {% continue %}
        {% endif %}
    <div class="col-md-4" style="padding-bottom: 30px;">
      <a href="{{game.url}}" class="no-fancy">
        <div class="center-cropped" style="background-image: url({{game.thumbnail}});">
    <span class="thumbnail_description">
          <h4>{{game.title}}</h4>
          <p>{{game.pitch}}</p>
    </span>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  <hr/>

  <span style="text-align: center;">
    <h1>Interactives</h1>
      <h4>Museums, Zoos, Apps</h4>
  </span>
  <div class="row" style="text-align: center;">
    {% assign ints = site.interactives | sort: 'grid-rank' | reverse %}
    {% for int in ints %}
    <div class="col-md-4" style="padding-bottom: 30px;">
      <a href="{{int.url}}" class="no-fancy">
        <div class="center-cropped" style="background-image: url({{int.thumbnail}});">
    <span class="thumbnail_description">
          <h4>{{int.title}}</h4>
          <p>{{int.pitch}}</p>
    </span>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  <hr/>

  <span style="text-align: center;">
    <h1>Experimental</h1>
      <h4>Game Jams, Personal Projects</h4>
  </span>
  <div class="row" style="text-align: center;">
    {% assign exps = site.experimental | sort: 'grid-rank' | reverse %}
    {% for exp in exps %}
    <div class="col-md-4" style="padding-bottom: 30px;">
      <a href="{{exp.url}}" class="no-fancy">
        <div class="center-cropped" style="background-image: url({{exp.thumbnail}});">
    <span class="thumbnail_description">
          <h4>{{exp.title}}</h4>
          <p>{{exp.pitch}}</p>
    </span>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>