---
---
@import "bootstrap";

body {
    color: #3F403C;
    font-family: "Inconsolata", "Arial";
    font-size: 14px;
}

::-moz-selection { /* Code for Firefox */
    color: #FFF1E3;;
    background: #71736C;
}

::selection {
    color: #FFF1E3;
    background: #71736C;
}

// --
a {
    color: #FFF2DC;
}

a:hover {
    color: #71736C;
}

a:active {
    color: #71736C;
}

a:before {
    content: '[ ';
}

a:after {
    content: ' ]';
}

// a tag w/o [ link ] formatting
a.no-fancy:before {
    content: none;
}

a.no-fancy:after {
    content: none;
}
// --

hr {
    background-color: #71736C;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

#header_wrap {
    background: #222222;
    color: #FFF2DC;
}

#footer_wrap {
    background: #222222;
}

#main_content_wrap {
    background: #FFF1E3;
}

#main_content_wrap a { // Differentiate link color from background color
    color: #3F403C;
}

.outer {
    background: #222222;
}

.inner {
    position: relative;
    max-width: 640px;
    margin: 0 auto;
    padding: 10px;
}

.center-cropped {
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-left: 0px;
    transition: 0.5s padding;
}

.thumbnail_description {
    background-color: rgba(34,34,34,0.8); // Same as header and footer with 80% alpha
    color: #FFF2DC;
    width: 100%;
    bottom: 0px;
    left: 0px;
    position: absolute;
    transition: 0.5s padding;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.center-cropped:hover .thumbnail_description {
    padding-bottom: 5%;
    font-weight: normal;
}

.storebutton {
    max-width: 100%;
    max-height:100%;
    display: inline-block; /* Instead of display: block; */
    margin: 0 auto;
    vertical-align: middle;
}

.storebutton:hover {
    opacity: 0.62;
}

// Aspect ratio preservation for iframe and a container
.aspectratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%
}

.aspectratio iframe, video {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

// Keep aspect ratio by only using height, width will auto fit to match (for img tag)
.aspectratio .demo-gif {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
}
