---
---
@import "{{site.theme}}";
@import "bootstrap";

.container {
    box-sizing: border-box;
    width: 25%;
    background-color: gray;
    padding: 7px;
    margin-bottom: 10px;
}

.container > img {
    width: 100%;
    margin: 0;
    padding: 0;
}

.container .overlay {
    background-color: gray;
    z-index: 1;
}

.storebutton {
    max-width: 100%;
    max-height:100%;
    display: inline-block; /* Instead of display: block; */
    margin: 0 auto;
    vertical-align: middle;
}

.storebutton:hover {
    opacity: 0.62;
}

// Aspect ratio preservation for iframe and a container
.aspectratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%
}

.aspectratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
