---
---
@import "{{site.theme}}";

.game-tiles {
    width: 100%;
    overflow-y: auto;
    background: slategray;
    text-align: center;
}

.game-tiles > a {
    width: 200px;
    height: 200px;
    float: left;
    background: black;
    margin: 15px;
    text-align: center;
}

.game-tiles > a:hover {
    background: gray;
}

.storebutton {
    max-width: 100%;
    max-height:100%;
    display: inline-block; /* Instead of display: block; */
    margin: 0 auto;
    vertical-align: middle;
}

.storebutton:hover {
    opacity: 0.62;
}

// Aspect ratio preservation for iframe and a container
.aspectratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%
}

.aspectratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
