body {
	background-color: #222222;
	color:#FFF2DC;
	font-family: "Inconsolata", "Arial";
}

.main-box {
	position: absolute; 
	top: 50%; 
	left:50%; 
	transform: translate(-50%, -50%);
	min-width: 50%;
	
	padding: 20px;
	border: 2px solid black;
	outline: 2px solid black;
	box-shadow: 5px 5px 5px black;
}

.typing {
	font-size: 20px;
	margin-top: 10px;
}

.typing #target {
	padding-left: 3px;
	margin: 0px;
}

.typing input, select {
	width: 100%;
	box-sizing: border-box;
	
	font-size: 20px;
	font-family: "Inconsolata";
}

.incorrect {
	color: red;
}