---
layout: default
---

<header class="game-header">
  <h1 class="game-title">{{ page.title }}</h1>
  {{ page.pitch }}
</header>

<div>
  {% if page.trailer %}
  <div class="aspectratio">
    <iframe src="{{page.trailer}}" frameborder="0" allowfullscreen></iframe>
  </div>
  {% elsif page.demo-gif %}
  <div class="aspectratio">
    <img src="{{page.demo-gif}}" class="demo-gif">
  </div>
  {% elsif page.demo-video %}
  <div class="aspectratio">
    <video autoplay loop src="{{page.demo-video}}">
  </div>
  {% endif %}
  {% if page.google-play or page.ios %}
  <div style="text-align: center;">
    {% if page.google-play %}
    <div class="storebutton">
      <a href="{{page.google-play}}" class="no-fancy">
	<image src="/assets/images/googleplay-badge.png" style="width:200px"/>
      </a>
    </div>
    {% endif %}
    {% if page.ios %}
    <div class="storebutton">
      <a href="{{page.ios}}" class="no-fancy">
	<image src="/assets/images/ios-badge.svg" style="width:175px"/>
      </a>
    </div>
    {% endif %}
  </div>
  {% endif %}
  {{ content }}
</div>
